{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-xxl py-3">
        <div class="d-flex flex-column flex-md-row justify-content-center">
            <div class="d-flex flex-column col-12 col-md-6">
                <div class="border border-black border-2 rounded-3 p-1 bg-body-tertiary">
                    <div class="ratio ratio-16x9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/bvsrnVnUJ4w?si=r-KnasiAo_RYfG4-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <hr>
                    <h3 class="mb-3">Featured Video</h3>
                    {% comment %} <p>I am random text that is quite long but not too long lorem ipsum and all that</p> {% endcomment %}
                </div>

                <div class="border border-black border-2 bg-body-tertiary rounded-3 p-1 mt-3">
                    <div class="d-flex" style="min-height: 350px;">
                        <div class="d-flex flex-column border p-2 px-3 shadow flex-grow-1">
                            <a class="text-decoration-none text-center text-reset" href="https://www.theminecraftcult.com">
                                <h2 class="mb-0">The Minecraft Cult</h2>
                            </a>
                            <hr>
                            <div class="d-flex align-items-center justify-content-center mx-auto" style="width: 198px;">
                                <span class="bi-copy pe-1 cursor-pointer" onclick="copyServerAddress(this.nextElementSibling)"></span>
                                <button class="nav-link text-decoration-underline" onclick="copyServerAddress(this)" style="">mc.theminecraftcult.com</button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">Status: <span class="text-danger" id="serverStatus"></span></p>
                                <p class="mb-0" id="version-label"></p>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">Players:</p>
                                <p class="mb-0" id="serverPlayersLabel"></p>
                            </div>
                            <ul class="list-unstyled mb-0 border d-flex h-100">
                                <div class="overflow-y-auto" id="serverPlayersList">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border border-black border-2 rounded-3 p-1 ms-md-2 mt-3 mt-md-0 col-12 col-md-6 bg-body-secondary">
                
            </div>
        </div>
    </div>
{% endblock %}