{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-xxl py-3">
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="row my-2 mx-0">
                    <div class="border border-black border-2 rounded-3 p-1">
                        <div class="ratio ratio-16x9">
                            <iframe class="rounded-top-3" src="https://www.youtube.com/embed/2vKMmdbeY_M?si=saJCnJp0AVatly2j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <h3>Hello, I am a title</h3>
                        <hr>
                        <p>I am random text that is quite long but not too long lorem ipsum and all that</p>
                    </div>
                </div>
                <div class="row my-2 mx-0">
                    <div class="border border-black border-2 rounded-3 p-1">
                        <div class="ratio ratio-16x9">
                            <iframe class="rounded-top-3" src="https://www.youtube.com/embed/2vKMmdbeY_M?si=saJCnJp0AVatly2j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <h3>Hello, I am a title</h3>
                        <hr>
                        <p>I am random text that is quite long but not too long lorem ipsum and all that</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-0 mt-md-3">
                <div class="row my-2 mx-0">
                    <div class="border border-black border-2 rounded-3 p-1">
                        <div class="ratio ratio-16x9">
                            <iframe class="rounded-top-3" src="https://www.youtube.com/embed/2vKMmdbeY_M?si=saJCnJp0AVatly2j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <h3>Hello, I am a title</h3>
                        <hr>
                        <p>I am random text that is quite long but not too long lorem ipsum and all that</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}